<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li class="submenu active">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a class="active" asp-area="Portal" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>  
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="students.html">Student List</a></li>                        
                        <li><a href="add-student.html">Add a student </a></li>                        
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="teachers.html">Teacher List</a></li>                       
                        <li><a href="add-teacher.html">Add a teacher </a></li>                       
                    </ul>
                </li>
                
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Academics</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Class</a></li>
                        <li><a href="#">Section</a></li>                        
                        <li><a href="#">Subject</a></li>
                        <li><a href="#">Syllabus</a></li>
                        <li><a href="#">Assignment</a></li>
                        <li><a href="#">Timetable</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-clipboard-list"></i> <span> Exam</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Exam Setup</a></li>
                        <li><a href="#">Exam Schedule</a></li>
                        <li><a href="#">Grade</a></li>
                        <li><a href="#">Exam Attendance</a></li>
                    </ul>
                </li>


                <li class="submenu">
                    <a href="#"><i class="fas fa-building"></i> <span> Mark</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Mark</a></li>
                        <li><a href="#">Mark Distribution</a></li>
                        <li><a href="#">Promotion</a></li>                       
                    </ul>
                </li>


                <li class="submenu">
                    <a href="#"><i class="fas fa-building"></i> <span> LMS</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Questions</a></li>                        
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-building"></i> <span> Live Class</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Google Meet</a></li>
                        <li><a href="#">Zoom Meeting</a></li>
                        <li><a href="#">Zoom Settings</a></li>
                    </ul>
                </li>




                <li class="menu-title">
                    <span>Management</span>
                </li>


                <li class="submenu">
                    <a href="#"><i class="fas fa-book"></i> <span> Library</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Issue</a></li>
                        <li><a href="#">Members</a></li>                        
                        <li><a href="#">Books</a></li>                        
                        <li><a href="#">E-Books</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-bus"></i> <span> Transport</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Route</a></li>
                        <li><a href="#">Members</a></li>
                        
                    </ul>
                </li>




               
                <li>
                    <a href="#"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
                </li>
                
                <li>
                    <a href="#"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-table"></i> <span>Time Table</span></a>
                </li>
                



                <li class="menu-title">
                    <span>Finance</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="fees-collections.html">Fees Collection</a></li>
                        <li><a href="expenses.html">Expenses</a></li>
                        <li><a href="salary.html">Salary</a></li>
                        <li><a href="add-fees-collection.html">Add Fees</a></li>
                        <li><a href="add-expenses.html">Add Expenses</a></li>
                        <li><a href="add-salary.html">Add Salary</a></li>
                    </ul>
                </li>


                <li class="submenu">
                    <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Payroll</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="#">Salary Template</a></li>
                        <li><a href="#">Wages Template(Hour)</a></li>
                        <li><a href="#">Manage Salary</a></li>
                        <li><a href="#">Overtime Setup</a></li>
                        <li><a href="#">Make Payment</a></li>
                        
                    </ul>
                </li>

              
                <li class="menu-title">
                    <span>Others</span>
                </li>
                <li>
                    <a href="#"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
                </li>
                
               
               
               
                
            </ul>
        </div>
    </div>
</div>
